---
import GA from "./GA/index.astro";
import OG from "./OG/index.astro";
import Twitter from "./Twitter/index.astro";

const TITLE = "Torque Money - DeFi The Norm"
const DESCRIPTION = "Home of high leverage and the highest sustainable yield farming rewards, powered 100% by DeFi."
const THEME_COLOR = "#921ebb";

const SITE_URL = "https://torque.money";
const BANNER_URL = "https://i.imgur.com/IzQ9Jvl.png";

const TWITTER_HANDLE = "@torque_money"
---

<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href={SITE_URL} />
    
    <title>{TITLE}</title>
    <meta
        name="description"
        content={DESCRIPTION}
    />
    
    <meta name="theme-color" content={THEME_COLOR} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <GA /> 
    <OG title={TITLE} description={DESCRIPTION} siteURL={SITE_URL} bannerURL={BANNER_URL} />
    <Twitter title={TITLE} description={DESCRIPTION} siteURL={SITE_URL} bannerURL={BANNER_URL} twitterHandle={TWITTER_HANDLE} />
</head>