---
import GA from "./GA/index.astro";
import OG from "./OG/index.astro";
import Twitter from "./Twitter/index.astro";

import config from "../../../astro.config.mjs";

// @ts-ignore
const {misc} = config;
const canonicalURL = Astro.canonicalURL;
---

<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href={canonicalURL} />
    
    <title>{misc.title}</title>
    <meta
        name="description"
        content={misc.description}
    />
    
    <meta name="theme-color" content={misc.themeColor} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <GA /> 
    <OG title={misc.title} description={misc.description} siteURL={misc.siteURL} bannerURL={misc.bannerURL} />
    <Twitter title={misc.title} description={misc.description} siteURL={misc.siteURL} bannerURL={misc.bannerURL} twitterHandle={misc.twitterHandle} />
</head>